
.card_{
    border: 0.5px solid rgb(127, 124, 124);
    box-shadow:  10Px 10px rgba(114, 114, 114, 0.484);
    padding-left:0px;
    border-radius: 12px;
    padding-bottom: 40px;
   
    display: flex;
    justify-content: center;
}
div.card.card_{
    padding: 0;
    
}
.card-title{
 
    width: 100%;
 
    margin-bottom: 10px;
    background-color: #35B6FF;
    color: white;
   
    }
    h5{
      
        /* background-color: #35B6FF; */
        color: white;
       
        width: 100%;
        
    }
    h4{

        /* background-color: #35B6FF; */
        color: white;
      
        border-radius: 0px 0px 12px 12px;
        
    }
  h4.card-title{
    width: 40%;
    
  }
  .h4{
    width: inherit;
    display: flex;
    justify-content: center;
  }
  .img-temp{
    width: 20%;
    height: 15%;
    margin-top: 20px;
  }
  p.real-time{
    margin-right: 0;
    font-weight: bold;
    font-size: 35px;
   

  }
  .cont-temp{
   display: flex;
   justify-content: center;
   margin-top: 30px;
  }
  .img-humid{
    width:379px;
   
   
  }
  .controle-box{
    width: 30%;
    height: 50px;
    border: 1px solid black;
  }
  