.backblue{
    color: white;
    background-color: #35B6FF;
}
.box{
    border: 0.5px solid rgb(127, 124, 124);
    box-shadow:  20px 20px rgba(131, 127, 127, 0.33);
    border-radius: 12px;
    padding-bottom: 80px;
    padding-left: 200px;
    padding-right: 50px;
    width: 70%;
    margin-top: 100px;
}
div.table.table_{
    width: fit-content;
    margin: auto;
}
thead td, .h4_{
    font-weight: bold;
}
tr, td, h4{
    font-size: 1.5rem;
}
td{
    padding: 10px;
}
.td_{
border-right: 1px solid black;
}
.h4-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
h4{

    background-color: #35B6FF;
    color: white;
    padding: 7px 80px;
    border-radius: 0px 0px 12px 12px;
}

.pagination_{
    width: auto;
    float: right;
    margin-right: 150px;
    padding-top: 20px;
   
}
.pagelinkupdate{
    background-color: #D9D9D9;
    border: 1px solid black;
    padding: 5px 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}
.bg-focus{
    background-color: #35B6FF;
}

.pagenav{
    background-color: #D9D9D9;
    border: 1px solid black;
    padding: 5px 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

.created{
    background-color: #35B6FF;
    color: black;
}