.backblue{
    color: white;
    background-color: #35B6FF;
}
.box{
    border: 0.5px solid rgb(127, 124, 124);
    box-shadow:  10Px 10px rgba(114, 114, 114, 0.484);
    border-radius: 12px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
}

tr, td, h4{
    font-size: 1.5rem;
}
.h4-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
h4{

    background-color: #35B6FF;
    color: white;
    padding: 7px 60px;
    border-radius: 0px 0px 12px 12px;
}

.pagination_{
    width: auto;
    float: right;
}