.cacher{
    display: none;
}
.afficher{
    display: block;
}

svg{
    
    margin-left:20px;
    
}
#carte{
    margin-left:20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
}